<?xml version="1.0"?>
<launch>
  <!-- humanoid_robot_intelligence_control_system humanoid_robot_intelligence_control_system manager -->
  <include
    file="$(find humanoid_robot_intelligence_control_system_manager)/launch/humanoid_robot_intelligence_control_system_manager.launch" />

  <!-- Camera and Ball detector -->
  <include
    file="$(find humanoid_robot_intelligence_control_system_ball_detector)/launch/ball_detector_from_usb_cam.launch" />

  <!-- camera setting tool -->
  <include
    file="$(find humanoid_robot_intelligence_control_system_camera_setting_tool)/launch/humanoid_robot_intelligence_control_system_camera_setting_tool.launch" />

  <!-- sound player -->
  <node pkg="humanoid_robot_intelligence_control_system_player"
    type="humanoid_robot_intelligence_control_system_player"
    name="humanoid_robot_intelligence_control_system_player" output="screen" />

  <!-- humanoid_robot_intelligence_control_system humanoid_robot_intelligence_control_system demo -->
  <node pkg="humanoid_robot_intelligence_control_system_demo" type="op_demo_node"
    name="humanoid_robot_intelligence_control_system_demo" output="screen">
    <param name="grass_demo" type="bool" value="False" />
    <param name="p_gain" value="0.45" />
    <param name="d_gain" value="0.045" />
  </node>

</launch>
