<?xml version="1.0"?>
<launch>
  <!-- robotis humanoid_robot manager -->
  <include file="$(find humanoid_robot_manager)/launch/humanoid_robot_manager.launch" />

  <!-- Camera and Ball detector -->
  <include file="$(find humanoid_robot_ball_detector)/launch/ball_detector_from_usb_cam.launch" />

  <!-- face tracking -->
  <!-- <include file="$(find humanoid_robot_demo)/launch/face_detection_humanoid_robot.launch" /> -->

  <!-- camera setting tool -->
  <include file="$(find humanoid_robot_camera_setting_tool)/launch/humanoid_robot_camera_setting_tool.launch" />

  <!-- sound player -->
  <node pkg="ros_madplay_player" type="ros_madplay_player" name="ros_madplay_player" output="screen" />

  <!-- web setting -->
  <include file="$(find humanoid_robot_web_setting_tool)/launch/web_setting_server.launch" />

  <!-- robotis humanoid_robot demo -->
  <node pkg="humanoid_robot_demo" type="op_demo_node" name="humanoid_robot_demo" output="screen">
    <param name="grass_demo" type="bool" value="False" />
    <param name="p_gain" value="0.45" />
    <param name="d_gain" value="0.045" />
  </node>

</launch>
